.Table.GroupedTable {
	width: 100%;

	.expandAllHeader {
		width: 1rem;
	}

	.group-title {
		&:hover {
			background-color: transparent;
		}

		> td {
			border-right: none;
			border-left: none;
		}
	}
}
