.Table {
	max-width: 100%;
	overflow-x: auto;

	table {
		border-collapse: collapse;
		width: 100%;

		td,
		th {
			border: 1px solid #ddd;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #f2f2f2;
		}

		tr:hover {
			background-color: #ddd;
		}

		th {
			position: relative;
			padding-top: 12px;
			padding-bottom: 12px;
			text-align: left;
			background-color: #04aa6d;
			color: white;

			.resizer {
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: 5px;
				background: rgba(0, 0, 0, 0.5);
				cursor: col-resize;
				user-select: none;
				touch-action: none;

				@media (hover: hover) {
					opacity: 0;
				}

				&.isResizing {
					background: blue;
					opacity: 1;
				}
			}

			@media (hover: hover) {
				&:hover > .resizer {
					opacity: 1;
				}
			}
		}
	}

	input[type='checkbox'] {
		cursor: pointer;
	}

	.page-tools {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-top: 1rem;

		button {
			border-width: 1px;
			border-radius: 0.25rem;
			padding: 0.25rem;
		}

		span {
			display: flex;
			align-items: center;
			gap: 0.25rem;
		}

		input,
		select {
			padding: 0.2rem 0;
		}
	}
}
